#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings {
  position: fixed;
  top: 10px;
  right: 10px;
}

.settings label {
  display: flex;
  padding: 20px;
  background-color: hsl(0, 0%, 30%);
}
